.winning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 150px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
  }
  
  button {
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  