/* header.css */

/* Container for the calculator */
.calc {
    align-items: center;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color:black;
    color: white;
    position: fixed;  /* Fix the header to the top of the page */
    top: 0;  /* Place the header at the top */
    left: 0;  /* Ensure it's aligned with the left edge */
    width: 100%;  /* Make the header full-width */
    z-index: 1000;  /* Ensure it stays above other content */
}
.logo{
    height: 2rem;
    z-index: 1000;
}

h1 {
    margin-left: 10px;
}
.icon2{
    align-items: end;
    margin-left: 11rem;
    width: 1rem;
    height: 1rem;
    margin-bottom: 5px;
}

.icon {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    
}

.dropdown {
    position: absolute;
    top: 40px;  /* Adjust based on where you want the dropdown */
    left: 20px;
    background-color: rgb(245, 245, 245);
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 10rem;
    height: 50%;
    z-index: 1500;
}

.dropdown ul {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.dropdown li {
    padding: 8px;
    cursor: pointer;
    border-bottom: whitesmoke;
}

.dropdown li:hover {
    background-color: whitesmoke;
}
